{{#if galleryEdit}}
<div class="galleryEdit">
<img src="{{galleryEdit.link}}">

<form action="/gallery/{{galleryEdit.id}}?_method=PUT" method="post" id="editPhoto" name="editPhoto">
  <label name="author">Author</label>
  <input type="text" name="author" value="{{galleryEdit.author}}">
    <button type="submit">Edit</button>
      <br>
  <label name="link">Link</label>
  <input type="text" name="link" value="{{galleryEdit.link}}">
    <button type="submit">Edit</button>
      <br>
  <label name="description">Description</label>
  <input type="text" name="description" value="{{galleryEdit.description}}">
    <button type="submit">Edit</button>
  </form>


</div>
{{/if}}

