{{#if galleryEdit}}
<div class="galleryEdit">
  <img src="{{galleryEdit.link}}">
  <ul>
    <li>
      <form action="/gallery/{{galleryEdit.id}}?_method=PUT" method="post" id="editPhoto" name="editPhoto">

      <label name="author">Author</label>
      <input type="text" name="author" value="{{galleryEdit.author}}">
    </li>
    <li>
      <label name="link">Link</label>
      <input type="text" name="link" value="{{galleryEdit.link}}">
    </li>
    <li>
      <label name="description">Description</label>
      <input type="text" name="description" value="{{galleryEdit.description}}">
      <br>
      <button type="submit">Edit</button>
    </li>
      </form>
  </ul>
</div>
{{/if}}

