<h1>Photo</h1>

{{#if galleryPhoto}}
<div class="galleryPhoto">
  <p>
    <h1>Author: {{galleryPhoto.author}}</h1>
      <a href="/gallery/{{galleryPhoto.id}}">
      <img src="{{galleryPhoto.link}}">
      </a>
  </p>
  <p>
    Description: {{galleryPhoto.description}}
  </p>
</div>

<form action="/gallery/{{galleryPhoto.id}}/edit" method="get">
   <button type="submit">Edit a Photo</button>
</form>

<form action="/gallery/{{galleryPhoto.id}}?_method=DELETE" method="POST">
  <button type="submit">Delete this Photo</button>
</form>
{{/if}}